.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0.3s;

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      z-index: 54634;
    }

    &.bottomRight {
      right: 0;
      box-shadow: 0px 12px 16px 0px #cbf0f473;
      border: 1px solid #a4ddf8;

      border-radius: 8px;
    }

    &.bottomLeft {
      left: 0;
      right: unset;
    }
  }

  .dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}
