.btn {
  padding: 0.5rem 3rem;
  background-color: lightblue;
  border-radius: 0.5rem;
  border-color: transparent;
  background: #d7edff;
  background-color: #0188f7 !important;
  color: white;
  border: 1px solid #0188f7;
  font-family: Inter;
  font-size: 12.69px;
  font-weight: 600;
  line-height: 19.03px;
  text-align: left;
}

.StepButton-d0-0-3-6.active {
  background-color: #0188f7 !important;
}
.StepButton-d0-0-3-6.completed {
  background-color: #0188f7 !important;
}
.StepButton-d2-0-3-12.active {
  background-color: #0188f7 !important;
}
.StepButton-d2-0-3-12.completed {
  background-color: #0188f7 !important;
}
.StepButton-d4-0-3-20.active {
  background-color: #0188f7 !important;
}
.StepButton-d4-0-3-20.completed {
  background-color: #0188f7 !important;
}
.input-stepper {
  display: flex;
  align-items: center;
  background: #eff3fb;

  padding: 8.97px 12.56px 8.97px 12.56px;
  border-radius: 0.9rem;
  border: 0.9px solid #d0d5dd;
  justify-content: space-between;
  input {
    background: #eff3fb;
    width: 70%;
  }
}
