.auth-container {
  .auth-container-left-side {
    .auth-container-form {
      .auth-form-greeting {
        p {
          font-size: 32px;
        }
      }
      .auth-submit-button {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }
}
