.upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.331);
  border-radius: 5px;
  padding: 0.2rem;
  cursor: pointer;
  svg {
    font-size: 22px;
  }
  &:hover {
    color: #1677ffc0;
    border: 1px solid #1677ffc0;
  }
}
#upload-button {
  display: none;
}
