.popup-preview-desktop {
  .popup-preview-desktop-setting {
    display: flex;
    position: absolute;
    background-color: #fff;
    bottom: 8px;
    right: 30%;
    border-radius: 5px;
    padding: 10px;
    z-index: 999000999;
  }
}
