@import '@assets/styles/abstracts';

.range-comp-container {
  width: 100%;
  @include flexbox(row, start center);

  .range-comp-label {
    min-width: 120px;
    font-size: 15px;
    font-weight: 400;
  }
  .ant-slider-track {
    background-color: #2e4dba !important;
  }
  .ant-row {
    width: 100% !important;
  }
}
