@forward './Components/ToggleFilter/ToggleFilter';
@import '@assets/styles/abstracts';
.filters-container {
  padding: 20px 0px;
  width: 100%;
  @include flexbox(column, stretch, stretch);
  .filter-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
  }
  .filter-btns {
    @include flexbox(row, start, center);
    gap: 10px;
    .target-client-filter-btn {
      background-color: #506bcc;
      color: #fff;
      border-radius: 6px;
      padding: 8px 16px;
      border: none;
      @include flexbox(row, center, center);
      gap: 10px;
      cursor: pointer;
      &:hover {
        filter: brightness(95%);
        box-shadow: 0px 4px 4px -4px #333;
      }
    }
  }
}
.filter-client-user-select {
  min-width: 350px;
}
