.ant-select-selector {
  margin-top: 5px;
  height: 59.9px;
}
.ant-select-selection-overflow-item {
  border-radius: 10px;
  background: #ffffff;
}
.ant-select-selection-item {
  background-color: #fff !important;
}
.ant-select-selection-overflow-item-suffix {
  opacity: 0 !important;
}
.ant-select-selection-item-content {
  margin-inline-end: -2px !important;
}
.modal-field {
  margin-bottom: 1rem;
  .error-message {
    margin-top: 11px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.863);
    padding-left: 10px;
  }
}
:where(.css-dev-only-do-not-override-k7429z).ant-select-dropdown .ant-select-item-option-content {
  align-items: center;
  display: flex;
}
:where(.css-dev-only-do-not-override-k7429z).ant-select-dropdown
  .ant-select-item-option-content
  > * {
  border: none;
}
:where(.css-dev-only-do-not-override-k7429z).ant-tag {
  border: none;
}
:where(.css-dev-only-do-not-override-k7429z).ant-select-multiple .ant-select-selection-item {
  height: 41px;
}
:where(.css-dev-only-do-not-override-k7429z).ant-select-multiple
  .ant-select-selection-item-content {
  align-items: center !important;
  display: flex !important;
}
.select-comp {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  padding: 9px 12px 9px 12px;
  gap: 3px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #d0d5dd;
}

.select-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 107px;
  height: 100px;
  border-radius: 8px;

  opacity: 0px;
}

.select-option.selected {
  border: 1px solid #12b76a;
  box-shadow: 0px 8px 8px 0px #12b76a3d;
  background: #f6fef9;
}

.option-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  margin-bottom: 10px;
  border: 2px solid transparent; /* Ensures space for the border */
}

.tick-mark {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;

  background-color: #12b76a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick-mark svg {
  fill: white;
}
