.skeleton-reports-card {
  width: 266px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.06);
  .ant-skeleton {
    width: 100%;
    display: flex;
    justify-content: center;
    .ant-skeleton-image {
      width: 100%;
      height: 183px;
      border-radius: 11px;
    }
    .ant-skeleton-input {
      width: 100%;
      border-radius: 5px;
    }
    .ant-skeleton-button {
      width: 60%;
    }
  }
}
