.create-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.statusFormat {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #0188f7;
}
.user-acount-status {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #344054;
}
