.create-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.statusFormat {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #0188f7;
}
.user-acount-status {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #344054;
}
.cancel-button-form {
  border-radius: 8px;
  width: 26% !important;
  font-size: 17px !important;

  margin-top: 30px !important;
  color: #0188f7 !important;
  border: 1px solid #0188f7 !important;
  background-color: white !important;
}
.submit-button-form {
  border-radius: 8px;

  width: 26% !important;
  font-size: 17px !important;
  margin-top: 30px !important;
  background-color: #0188f7 !important;
}
