.create-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.statusFormat {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #0188f7;
}
.user-acount-status {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #344054;
}
.cancel-button-form {
  width: 26%;
  font-size: 17px;

  margin-top: 30px;
  color: #0188f7;
  border: 1px solid #0188f7;
  background-color: white;
}
.submit-button-form {
  width: 26;
  fon-size: 17px;
  margin-top: 30px;
  background-color: #0188f7;
}
