@import '@assets/styles/abstracts';
.post-statistic {
  @include flexbox(row, start, center);
  gap: 20px;
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(218, 211, 211);
  flex-wrap: wrap;
  .single-stat {
    @include flexbox(column, space-between, start);
    cursor: pointer;
    min-width: 190px;
    height: 138px;
    padding: 17px 20px 12px 20px;
    border-radius: 10px;
    border: 1px solid #d4daee;
    background: #fafafa;
    .stat-icon {
      svg {
        font-size: 24px;
        color: #363853;
      }
    }
    div {
      .single-stat-number {
        font-size: 19px;
        font-weight: 500;
        color: #363853;
      }
      .single-stat-name {
        font-size: 18px;
        font-weight: 300;
        color: #363853;
      }
    }
  }
  .active-stat {
    background: #eef1fa;
  }
}
.active-stat-line {
  width: 100%;
  position: relative;
  top: 15px;
  height: 5px;
  border-radius: 5px;
  background: #506bcc;
}
